
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- Start Footer -->
<footer class="footer_detail">
    <div class="container">
        <div class="row pt-5 pb-5 aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="text-center footer_about">
                    <h3 class="text-white font-weight-bold mb-0">Aşağıda Bana Ait Sosyal Medya Adresleri Bulunmaktadır</h3>
                    <p class="mx-auto mt-4 mb-0">Hepsini her zaman aktif olarak kullanmasam da; soru görüş ve önerileriniz için her zaman bana ulaşabileceğiniz adresler aşağıdadır.</p>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-outline-custom btn-rounded" data-toggle="modal" data-target="#exampleModalCenter"></button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
        </div>
        <div class="fot_bor"></div>
        <div class="row pt-3 pb-3">
            <div class="col-lg-12">
                <div class="float-right float_none">
                    <ul class="list-inline fot_social mb-0">
                        <li class="list-inline-item"><a href="https://www.facebook.com/serhat.bilen.754/" target="_blank" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/serhat-bilen-3b7348b0/" target="_blank"  class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/serhatbilen" target="_blank"  class="social-icon text-muted"><i class="mdi mdi-github-circle"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/Serhattbilenn" target="_blank" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/serhatbilen34/" target="_blank" class="social-icon text-muted"><i class="mdi mdi-instagram"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
