@{
    ViewBag.Title = "About";
}
<!-- Start About -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h3><span class="font-weight-bold">Hakkımda</span></h3>
                    <div class="vr_line mx-auto d-block"></div>
                    <p class="sec_subtitle mx-auto text-muted pt-2">Adım atmaktan korkma ve ne olursa olsun vazgeçme hastalığına yakalanma</p>
                </div>
            </div>
        </div>
        <div class="row mt-3 vertical-content">
            <div class="col-lg-6">
                <div class="about_content mt-3">

                    <h3 class="mb-3 font-weight-bold text-custom">Merhaba Ben Serhat Bilen</h3>

                    <p class="text-muted mt-3">
                        1992 yılında İstanbul' da doğdum. 15-16 yaşlarımda bilgisayara ilgim olsa da yazılımla tanışmam oldukça geç oldu. Kariyerime inşaatta başlayıp,
                        girmiş olduğum işlerde getirdiğim yeni fikirler ve her şeyi verileştirme fikirleriyle ufak tefek farklar yaratsam da yazılıma gerçekten atılıp ilk kod satırımı doldurmam
                        27 yaşımda oldu. Buna rağmen her geçen gün kendimi geliştiren bir diyagram gösteriyor ve her geçen gün daha iyi oluyorum. Ayrıca bu aşamada karşıma çıkan zorlukları ve yaşadıklarımı
                        makaleleştirmeyi düşünüyorum. Eğer bunu gerçekleştirebilirsem mutlaka sizlerle paylaşıp bu alanda adım atmak isteyen her bireye ön ayak olmak isterim.
                    </p>

                    <p class="text-muted mt-3">Bu zamana kadar öğrenip geliştirme yapabildiğim tüm alanları sizinle paylaşıyorum ayrıca, kısa sürede ne kadar ilerlenebileceğini görmeniz için, yeterki isteğiniz olsun.</p>

                    <ul class="mb-0 list-inline about-work">
                        <li class="list-inline-item mr-0 text-muted">C#</li>
                        <li class="list-inline-item mr-0 text-muted">Java</li>
                        <li class="list-inline-item mr-0 text-muted">Android</li>
                    </ul>
                    <ul class="mb-0 list-inline about-work">
                        <li class="list-inline-item mr-0 text-muted">Sql</li>
                        <li class="list-inline-item mr-0 text-muted">HTML</li>
                        <li class="list-inline-item mr-0 text-muted">CSS</li>
                    </ul>
                    <ul class="mb-0 list-inline about-work">
                        <li class="list-inline-item mr-0 text-muted">JQuery</li>
                        <li class="list-inline-item mr-0 text-muted">Asp.Net Web API</li>
                        <li class="list-inline-item mr-0 text-muted">Asp.Net Mvc</li>
                    </ul>
                    <div class="pt-4">
                        <img src="~/Content/img/logohareketli.gif" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img mt-3">
                    <img src="~/Content/img/profile.jpg" alt="" class="img-fluid mx-auto d-block position-relative about-tween">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->
