@{
    ViewBag.Title = "Contact";
}
<!-- Start Contact -->
    <section class="section_all bg-light" id="contact" style="background: linear-gradient(to right, #182848, #5758bb);">
        <div class="container">
            <div class="row aos-init aos-animate" data-aos="fade-up">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h3 class="font-weight-bold">İletişim</h3>
                        <div class="vr_line mx-auto d-block"></div>
                        <p class="sec_subtitle mx-auto text-muted pt-2">Adım atmaktan korkma ve ne olursa olsun vazgeçme hastalığına yakalanma</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 aos-init aos-animate" data-aos="fade-up" style="width:2300px">
                <div class="col-lg-6">
                    <div class="contact_info_box">
                        
                        <div class="contact_details_content bg-white p-3 mt-3">
                            <div class="contact_icon float-left  pull-left">
                                <i class="pe-7s-mail-open text_custom mr-3"></i>
                            </div>
                            <div class="contact_detail">
                                <h6 class="font-weight-bold">Mail</h6>
                                <p class="text-muted mb-0">serhatbilen1132@gmail.com</p>
                            </div>
                        </div>
                        <div class="contact_details_content bg-white p-3 mt-3">
                            <div class="contact_icon float-left  pull-left">
                                <i class="pe-7s-phone text_custom mr-3"></i>
                            </div>
                            <div class="contact_detail">
                                <h6 class="font-weight-bold">Telefon</h6>
                                <p class="text-muted mb-0"><br>+90 539 415 11 32</p>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-6">
                    <form class="business_form_custom">
                        <div class="form-row mt-3">
                            <div class="col">
                                <input name="name" id="name" type="text" class="form-control" placeholder="İsim">
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <input name="email" id="email" type="email" class="form-control" placeholder="E-Mail">
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <input type="text" class="form-control" id="subject" placeholder="Konu">
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Mesajınız"></textarea>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Gönder">
                            </div>
                        </div>
                    </form>
                </div>*@
            </div>
        </div>
    </section>
<!-- End Contact -->